*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.Navigation{
    display:flex;
    flex-direction: row;
    gap: 26rem;
    background-color: black;
    padding:1rem;
}
.logo{
    margin-left: 9.8rem;
}
.navContainer{
    display: flex;
    gap: 2rem;
    margin-top: .6rem;
}
.navlist{
    list-style-type: none;
}
.navlist a{
    text-decoration: none;
    color: white;
    font-weight: 700;

}
